body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
}

header{
    height: 80px;
    background-color: rgb(172, 170, 170);
    justify-content: space-around;
}
.borda{
    border: 2px solid red;
}
.flex-linha{
    display: flex;
    flex-direction: row;
}
.centro{
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

nav * {
    margin: 10px;
}
nav a {
    padding: 8px;
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    color: black;
}
nav a:hover{
    background-color: white;
}

.box-pesquisa{
    padding: 8px;
    border-radius: 30px;
    outline: none;
    border: none;       
}

main{
    margin-bottom: 100px;
}

.painel-cards{
    margin: 0 auto;
    max-width: 75vw;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 250px;
    box-shadow: 2px 2px 2px gray;
    background-color: white;
    padding: 25px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-5px);
}

.botao{
    width: 70%;
    align-self: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}
.botao:hover{
    background-color: rgb(197, 197, 197);
    
}

footer{
    background-color: rgb(151, 149, 149);
    position: fixed;
    bottom: 0;
    width: 100vw;
    
}
.creditos{
    padding: 5px;
    font-size: 0.9rem;
}